*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: "Andale Mono", AndaleMono, monospace;
    letter-spacing: -2px;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}
body {
    overflow-x: hidden;
}
header {
    border: 1px solid gray;
    box-shadow: 0px 3px 3px #333;
    background-color: white;
    padding: 15px;
    width: 100%;
    height: 80px;
    position: fixed;
    font-size: 1.5em;
}
/*-------------------------------------------SEARCH NAV & PARALLAX*/
.parallax {
    background: url("/images/icons2.png");
    background-attachment: fixed;
    background-position: center center;
}
.searchContainer {
    padding-top: 175px;
    padding-bottom: 175px;
    width: 100%;
    background: transparent;
}
.filter {
    margin-top: 20px;
}
p {
    right: 0;
    top: 53px;
    animation: tag 2s;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 30px;
    border-radius: 4px;
    font-size: 1.8em;
    position: fixed;
    color: white;
    text-shadow: 3px 3px 3px #111;
    background-color: rgba(3, 3, 3, .9);
    display: inline-block;
}
img {
    position: relative;
    top: 19px;
}
/*---------------------------------------ADDS ANIMATION TO GG TAG*/
@keyframes tag {
    0% {
        opacity: 0;
        transform: translateX(-1024px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
/*----------------------------------------FORM & INPUTS*/
select {
    height: 60px;
    width: 200px;
    font-size: 1.2em;
}
button {
    height: 90px;
    width: 225px;
    border-radius: 4px;
}
input {
    width: 250px;
    height: 70px;
    text-align: center;
    border-radius: 4px;
}
input:focus {
    border: 2px inset #222;
    color: rgba(30, 113, 183, .7);
    background-color: black;
}
button:focus {
    background-color: #222;
}
input:hover {
    background-color: #222;
    color: rgba(30, 113, 183, .7);
}
input:active {
    background-color: #222;
    color: rgba(30, 113, 183, .7);
}
form {
    display: block;
    width: 800px;
    margin: 0 auto;
    border-radius: 4px;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background-color: rgba(3, 3, 3, .9);
}
h1 {
    /*padding-top: 100px;*/
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
    color: white;
    text-shadow: 3px 3px 3px black;
}
h2 {
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    color: white;
    text-shadow: 3px 3px 3px black;
}
/*------------------------------------------------JOB CONTAINER & TEMPLATE DIVS*/
.jobContainer {
    background: white;
    border: 2px outset black;
}
.grid-7-800 {
    background-color:rgba(255, 255, 243, 1);
}
.grid-header {
    background-color: rgba(3, 3, 3, .9);
    border-bottom: 2px solid black;
}
.templateDestination .grid {
    padding: 16px 0;
    border-bottom: 4px solid rgba(10, 10, 10, 0.3);
}
/*-------------------------------------------------scroll stickies*/
.stick {
    transition: all .20s ease;
    position: fixed;
    top: 0px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
}
.head1 {
    transition: all .20s ease;
    position: fixed;
    top: 106px;
    width: 100%;
}
.stick h1 {
    display: none;
}
.tag {
    transition: all .20s ease;
    position: fixed;
    top: 157px;
    right: 0px;
}
a {
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
    color: #a3211f;
}
a:visited {
    color: indigo;
}
#title {
    font-weight: bold;
    color: rgba(45, 45, 45, 1);

}
/* turn lodash data into link, remove HTML from description */
/* ------------------------------------------------------- grids*/
.grid {
    text-align: justify;
    font-size: 0.1px;
}
.grid > * {
    padding-left: 10px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    font-size: 18px;
    font-size: 1rem;
    width: 100%;
    transition: all .20s ease;
}
.grid > .head {
    font-size: 30px;
    color: white;
}
.grid:after {
    content: '';
    display: inline-block;
    font-size: 18px;
    font-size: 1rem;
    width: 100%;
}
/*---------------------------------------------------MEDIA QUERIES*/
@media screen and (max-width: 480px) and (min-width: 300px) {
    .grid-header {
        display: none;
    }
    .grid-7-800 > * {
        width:100%;
    }
    #tag {
        top: 0;
        display: block;
        text-align: center;
        width: 100%;
    }
    form h1 {
        display: none;
    }
    form {
        transition: all .20s ease;
        position: fixed;
        top: 100px;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
    }
    .head1 {
        display: none;
    }
}
@media all and (max-width: 5000px) and (min-width: 481px) {
    .grid > *{
        display: inline-block;
    }
    .grid-7-800 > * {
        width: 20%;
    }
}