<div class="jobResults">
    <table>
        <thead>
            <tr>
            	<th>Job Title</th>
            	<!-- <th>Description</th> -->
            	<th>Company</th>
                
                <th>Location</th>
                <th>Posted</th>
                <th>Salary</th>
                <th>Experience</th>
                <th>Job ID</th>
              

            </tr>
        </thead>
        <tbody>
            <tr>
            	<td><a href = "#"><%= title %></a></td>
            	<!-- <td> description </td> -->
            	<td><a href = "<%= company.url %>"><%= company.name %> </a> </td>
                <td><%= company.location.city %></td>
                <td><%= post_date %>
                <td>$$$$</td>
                <td>####</td>
                <td><%= id %></td>
            </tr>
        </tbody>
	</table>
</div>
